<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mkvenkatesh.brewlist</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/vmandala/Dropbox/dotfiles/launch_agents/scripts/brewlist.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>86400</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/com.mkvenkatesh.brewlist.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/com.mkvenkatesh.brewlist.out</string>
</dict>
</plist>
