.DS_Store
/.gitconfig
/README_NO_GIT.md
/ssh.zip.gpg
/.emacs.d/bookmarks
/.emacs.d/auto-save-list/
/.emacs.d/custom-el/
/.emacs.d/elpa.bak/
/.emacs.d/elpa/
/.emacs.d/sqlplus/
/.emacs.d/backups/
/.emacs.d/ido.last
/.emacs.d/smex-items
/gnupg.zip.gpg
/.emacs.d/url/cookies
/.emacs.d/url/
/.emacs.d/network-security.data
/.emacs.d/eshell/history
/.emacs.d/tramp
